h1 {
color: red;
}
.line-header {
font-size: 25px;
color: #fa8231;
}
.info {
font-size: 20px;
line-height: 28px ;
}
.wrapper {
background-color: aqua;
border: 3px solid brown;
border-radius: 30px 50px 30px 50px;
padding: 10px 30px 10px 30px;
margin: 30px ;
}
#logotip {
width: 100px;
height: 20px;
object-fit: contain;
}
img {
width: 400px;
height: 200px;
object-fit: cover;
border-radius: 30px;
}
#about-us {
letter-spacing: 5px;
}
#ofice{
width: 500px;
height: 300px;
}
#about-us-travel{
    color: blueviolet;
background-color: bisque;
}
.links{
color: black;
background-color: blueviolet;
font-size: 20px;
line-height: 40px;
padding: 20px;
border-radius: 20px;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    }
    table {
    width: 900px;
    font-size: 25px;
    line-height: 32px;
    }
    th {
    font-weight: 900;
    background-color:#4cd137 ;
    color: rgb(190, 18, 168);
    font-size: 24px;
    }
    tbody tr:nth-child(odd){
    background-color: aquamarine;
    }
    tbody tr:nth-child(even){
    background-color: bisque;
    }
     tr {
    font-size: 18px;
    }

    ul {
        padding: 30px;
        list-style-type: square;
        color:#45aaf2 ;
        }